version: '3'

services:
  app:
    build: ./app
    ports:
      - 9000:9000
    depends_on:
      - db
    environment:
      - DATABASE_HOST=db
    links:
      - db
  web-app:
    build: ./web-app
    ports:
      - 5000:5000
  broadcast-server:
    build: ./broadcast-server
    ports:
      - 9001:9001
    depends_on:
      - db
    environment:
      - DATABASE_HOST=db
    links:
      - db
  db:
    build: ./database
